<!DOCTYPE html>
<html>
<head>
  <title>SingleTwitter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="home">
	<div id="wrapper">
		
		<!-- As long as something is in flash[:success] this will evaluate true -->
		<% if flash[:success] %>
			<p class="success"><%= flash[:success] %></p>
		<% end %>
			
		<% if flash[:error] %>
			<p class="error"><%= flash[:error] %></p>
		<% end %>

		<!-- yield is where the indivual views that get yielded in the view -->
		<%= yield %>

	</div>
</body>
</html>
